
<div class="card bg-dark text-light border-secondary mb-3" id="ficha-{{ ficha.id }}">
    <div class="card-header d-flex justify-content-between align-items-center py-2 border-secondary">
        <span class="fw-bold">Ficha #{{ forloop.revcounter }}</span> <!-- Assim as fichas ficam "Ficha #16", a seguinte será a "Ficha #15", e assim por diante -->
        <div class="ficha-actions">
            <button class="btn btn-sm btn-outline-light py-0 px-1" onclick="abrirModalEdicaoFicha('{{ ficha.id }}')" title="Editar Ficha">
                <i class='bx bxs-pencil fs-6' style="pointer-events: none;"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger py-0 px-1 btn-excluir-ficha" data-id="{{ ficha.id }}" title="Excluir Ficha">
                <i class='bx bx-x fs-6' style="pointer-events: none;"></i>
            </button>
        </div>
    </div>
    <div class="card-body py-2 px-3">
        <div class="row">
            <div class="col-sm-6">
                <p class="mb-1"><strong>Data:</strong> {{ ficha.data|date:'d/m/Y' }}</p>
            </div>
            <div class="col-sm-6">
                <p class="mb-1"><strong>Valor:</strong> {{ ficha.valor|floatformat:2|cut:"." }}€</p>
            </div>
        </div>
        <!-- Só mostra se o campo for preenchido -->
        {% if ficha.profissional %}
            <p class="mb-1"><strong>Profissional:</strong> {{ ficha.profissional }}</p>
        {% endif %}

        {% if ficha.procedimento %}
            <p class="mb-1"><strong>Procedimento realizado:</strong> {{ ficha.procedimento }}</p>
        {% endif %}

        {% if ficha.homecare %}
            <p class="mb-1"><strong>Linha home care:</strong> {{ ficha.homecare }}</p>
        {% endif %}
              
        {% if ficha.observacao %}
            <p class="mb-1"><strong>Observações:</strong> {{ ficha.observacao }}</p>
        {% endif %}
    </div>
</div>
